<!-- Header -->
<div class="header  pb-8 pt-5 pt-md-8" style="background: #f58634">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            {{!-- <div class="row">
                <div class="col-sm-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                                    <span class="h2 font-weight-bold mb-0 counter">350</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div> --}}
            {{!-- <div class="col-sm-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                                    <span class="h2 font-weight-bold mb-0">200</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                <span class="text-nowrap">Since last week</span>
                            </p>
                        </div>
                    </div>
                </div> --}}
            <div class="alert alert-secondary text-center">
                <h1>All Student Present</h1>
            </div>

        </div>
    </div>
</div>
</div>


<div class="row">
    {{!-- <div class="col-md-10"> --}}
    <div class="container">

        <table class="table table-bordered" style="margin-top:40px">
            <thead class="bg-dark text-center">
                <tr class="text-white">
                    {{!-- <th>id</th> --}}
                    <th>S/N</th>
                    <th>Student Name</th>
                    <th>Present</th>


                    {{!-- <th>Institution</th> --}}

                </tr>
            </thead>
            <tbody class="text-center">
                {{#each internRegistration}}
                <tr>
                    {{!-- <td>{{id}}</td> --}}
                    <td>1</td>
                    <td>{{fullName}}</td>
                    <td>{{present}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- </div> --}}
</div>