<!-- banner section -->
<section class="banner-w3ls">
	<div class='header'>
		<div class="container">
			<div class="banner-agileits">
				<h1 id="headText">nHub Academy</h1>
				<h2>Building The Future</h2>
				<br />
				<button id="internsBtn"><a href="/application"> Apply for Internship</a</button>

				<br />

			
				<ul class="social-icons1">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="container">
	{{#if success_messages}}
	<div class="alert alert-success alert-dismissible  show mt-2 auto-hide" role="alert">
		<h2>{{success_messages}}</h2>
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">x</span>
		</button>
	</div>
	{{/if}}

	{{#if error_messages}}
	<div class="alert alert-danger alert-dismissible  show mt-2 auto-hide" role="alert">
		<h2>{{error_messages}}</h2>
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">x</span>
		</button>
	</div>
	{{/if}}

</div>


</section>
<!-- /banner section -->
<!-- /Staff section -->

<!--end of nav-->


<!-- info section -->
<section class="info-w3l" id="info" data-aos="zoom-in">
	<div class="col-lg-4 col-md-4 col-sm-12 info-wthree1">
		<div class="col-xs-2">
			<i class="fa fa-university" aria-hidden="true"></i>
		</div>
		<div class="col-xs-10">
			<div class="info-agile">
				<h3>INCUBATOR</h3>
				<p>We make available suitable and qualified mentors for developers who require them in order to take
					their
					product development to the highest level attained. To push them through their careers, equiping them
					with the right tools and resources.
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 info-wthree2">
		<div class="col-xs-2">
			<i class="fa fa-certificate" aria-hidden="true"></i>
		</div>
		<div class="col-xs-10">
			<div class="info-agile">
				<h3>OUTSOURCING</h3>
				<p>We focus on cosst effectiveness and quality talent. We provide software development and application
					support
					along with our maintenance executed with extra attention and deadline consideration to deliver high
					standards
					that speak of your business quality.
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 info-wthree3">
		<div class="col-xs-2">
			<i class="fa fa-cogs" aria-hidden="true"></i>
		</div>
		<div class="col-xs-10">
			<div class="info-agile">
				<h3>TRAINING</h3>
				<p>All our training at nhub is immersion and project based. We provide training for individuals
					and organization with no knowledge on web/mobile application development to a self dependent level,
					self pace
					and building quality developers .
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
	<div class="clearfix"></div>
</section>
<!-- /info section -->

<!-- services section -->
<section class="service-w3l" id="service">
	<div class="container">
		<div class="col-lg-4 col-md-12 col-sm-12" data-aos="flip-up">
			<h3>Our Services</h3>
			<p class="serv-p1">We provide best and fully tested products and solutions for our customers</p>
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12">
			<div class="col-xs-4 serv-agile1" data-aos="flip-up">
				<i class="fa fa-cog" aria-hidden="true"></i>
				<h4>Quality Programming skills</h4>
				<p class="serv-p2">At the end of your practice you will sure will be ready for the tech industry having you gone through
					all our classes
				</p>
			</div>
			<div class="col-xs-4 serv-agile2" data-aos="flip-up">
				<i class="fa fa-book" aria-hidden="true"></i>
				<h4>Best platform for idea pitching</h4>
				<p class="serv-p2">You will engage yourself in various pitches in other to prepare you for sharing your ideas with potential investors</p>
			</div>
			<div class="col-xs-4 serv-agile3" data-aos="flip-up">
				<i class="fa fa-shield" aria-hidden="true"></i>
				<h4>Opportunity to meet pro-programmers</h4>
				<p class="serv-p2">Meeting top notch programmers in th industry will enable know what you really might need as they will mentor you in every way possible </p>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-4 serv-agile4" data-aos="flip-up">
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				<h4>Best internship platform</h4>
				<p class="serv-p2">Best place for internship as you will learn all you need to be a programmer and will also be a programmer at the end of your internship program</p>
			</div>
			<div class="col-xs-4 serv-agile5" data-aos="flip-up">
				<i class="fa fa-flask" aria-hidden="true"></i>
				<h4>Top notch programming skill</h4>
				<p class="serv-p2">After each training you will be good as you will have the required skills to be called a programmer</p>
			</div>
			<div class="col-xs-4 serv-agile6" data-aos="flip-up">
				<i class="fa fa-database" aria-hidden="true"></i>
				<h4>Meetups with various tech moguls</h4>
				<p class="serv-p2">Meetups will enable you know emerging technologies as there will be from different tech companies in nigeria</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /services section -->

<!-- about section -->
<section class="about-agileits" id="about">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-12 about-w3ls1" data-aos="zoom-in">
			<div class="hover01 column">
				<div>
					<figure>
						<img src="/images/banner.jpg" alt="" class="img-responsive">
					</figure>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 about-w3ls2" data-aos="zoom-in">
			<div class="about-w3l">
				<h3><span class="fa fa-diamond" aria-hidden="true"></span> about nhub Academy</h3>
				<p>We are a technology innovation hub that provides a wide range of Tech Inclined
					products and services, as well as incubation and acceleration programmes focused on
					innovation, job creation, social impact, skill acquisition and youth engagements. Our
					solutions for our customers.
					<ul class="about-links">
						<li><a href="#" class="about-link1" data-toggle="modal" data-target="#largeModal">Read More</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">About Us</h4>
				</div>
				<div class="modal-body">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="/images/about-img.jpg" alt="" class="img-responsive">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<p class="news-info">nHub plays a leadership role in nurturing dialogue, disseminating knowledge
							and re-wiring the ecosystem
							through different community based efforts that are geared towards building a generation of
							new entrepreneurs,
							software developers and an army of skilled and employable young people matching industry
							needs in priority
							sectors.
							We believe technology is a catalyst for growth and that client satisfaction is driven by
							best and timely
							services.
							We are focus on empowering entrepreneurs on their journey to build great ideas out of little
							or nothing,
							we work with Start-ups at every stage of maturity to provide the tools, resources, knowledge
							and expertise
							they need to succeed.
							We help Start-ups scale their businesses, bring innovative services to the market and reach
							new customers
							through our connections. Our work span from conceiving ideas, trainings, incubation,
							collaboration and
							creation of services.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /about section -->

<!-- Staff section  -->
<section class="staff-agileinfo" id="team">
	<div class="container">
		<h3 class="text-center">Our Team</h3>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 team-agile1" data-aos="flip-up">
			<div class="view view-eighth">
				<img src="/images/team-img1.jpg" alt="" class="img-responsive" />
				<div class="mask">
					<h4>Elizabeth</h4>
					<ul class="team-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<p class="info">Chairman</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 team-agile2" data-aos="flip-up">
			<div class="view view-eighth">
				<img src="/images/team-img2.jpg" alt="" class="img-responsive" />
				<div class="mask">
					<h4>James Cameron</h4>
					<ul class="team-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<p class="info">Director</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 team-agile3" data-aos="flip-up">
			<div class="view view-eighth">
				<img src="/images/team-img3.jpg" alt="" class="img-responsive" />
				<div class="mask">
					<h4>Max Payne</h4>
					<ul class="team-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<p class="info">Manager</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 team-agile4" data-aos="flip-up">
			<div class="view view-eighth">
				<img src="/images/team-img4.jpg" alt="" class="img-responsive" />
				<div class="mask">
					<h4>Stephen John</h4>
					<ul class="team-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
					<p class="info">Secretary</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>


<!-- subscribe section -->
<section class="subs jarallax">
	<div class="container">
		<div class="col-lg-6 col-md-6 subs-w3ls1" data-aos="zoom-in">
			<h3>Subscribe To Our NewsLetter</h3>
			<p>Are you tired of reading the same regurgitated information?
				Do you want to learn fresh, new programming tactics? Just enter your email below to subscribe to our
				newsletter.
			</p>
		</div>
		<div class="col-lg-6 col-md-6 subs-w3ls1" data-aos="zoom-in">
			<div class="subscribe">
				<form action="/newsletter" method="post">
					<div class="form-group1">
						<input class="form-control" id="mail" name="email" placeholder="Enter Your Email Address"
							type="email" required>
					</div>
					<div class="form-group2">
						<button class="btn btn-outline btn-lg" type="submit">Subscribe</button>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /subscribe section -->

<!-- Portfolio section -->
<section class="portfolio-agileinfo" id="portfolio">
	<h3 class="text-center">Our Portfolio</h3>
	<div class="gallery-grids">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist" data-aos="zoom-in">
				<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
						aria-controls="home" aria-expanded="true">All</a></li>
				<li role="presentation"><a href="#teach" role="tab" id="teach-tab" data-toggle="tab"
						aria-controls="teach">Teaching</a></li>
				<li role="presentation"><a href="#train" role="tab" id="train-tab" data-toggle="tab"
						aria-controls="train">Training</a></li>
				<li role="presentation"><a href="#learn" role="tab" id="learn-tab" data-toggle="tab"
						aria-controls="learn">Learning</a></li>
				<li role="presentation"><a href="#award" role="tab" id="award-tab" data-toggle="tab"
						aria-controls="award">Awards</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port.JPG" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port.JPG" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Training</h5>
									<p>Training at the academy is the best as it helps improve your programming skills</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img2.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img2.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img3.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img3.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img4.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img4.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img5.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img5.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img6.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img6.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img7.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img7.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img8.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img8.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Training</h5>
									<p>Training at the academy is the best as it helps improve your programming skills</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img9.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img9.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img10.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img10.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img11.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img11.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img12.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="1">
								<img src="/images/port-img12.jpg" class="img-responsive" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="teach" aria-labelledby="teach-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img2.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="2">
								<img src="/images/port-img2.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img6.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="2">
								<img src="/images/port-img6.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img11.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="2">
								<img src="/images/port-img11.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Teaching</h5>
									<p>In every programming language taken you are taught from scratch in other to understand how the languages work</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="train" aria-labelledby="train-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img1.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="3">
								<img src="/images/port-img1.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Training</h5>
									<p>Training at the academy is the best as it helps improve your programming skills</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img8.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="3">
								<img src="/images/port-img8.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Training</h5>
									<p>Training at the academy is the best as it helps improve your programming skills</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="learn" aria-labelledby="learn-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img3.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="4">
								<img src="/images/port-img3.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img4.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="4">
								<img src="/images/port-img4.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img5.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="4">
								<img src="/images/port-img5.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Learning</h5>
									<p>Learning at the academy is fun as you would be engaged ina activities to enable you learn well</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="award" aria-labelledby="award-tab">
					<div class="tab_img">
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img7.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="5">
								<img src="/images/port-img7.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port.JPG" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="5">
								<img src="/images/port.JPG" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img10.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="5">
								<img src="/images/port-img10.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 portfolio-grids" data-aos="zoom-in">
							<a href="/images/port-img12.jpg" class="b-link-stripe b-animate-go lightninBox"
								data-lb-group="5">
								<img src="/images/port-img12.jpg" class="img-responsive zoom-img" alt="w3ls" />
								<div class="b-wrapper">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
									<h5>Awards</h5>
									<p>Awards are awarded to best and good projects at the end of the day after every pitch friday</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Portfolio section -->

<!-- map section -->
<div class="map" data-aos="zoom-in" style="background-color: rgba(0, 0, 0, 0.5)">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.6654748394726!2d8.871966814070438!3d9.878407192934555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1053737c11e25a67%3A0x6acc9688fcb7e771!2snHub+Nigeria!5e0!3m2!1sen!2sng!4v1564500668995!5m2!1sen!2sng"
		width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- /map section -->

<!-- contact section -->
<section class="contact-wthree jarallax" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Us</h3>
		<div class="col-lg-2 col-md-2 col-sm-2" data-aos="zoom-in">
			<img src="/images/nhubCover.jpg" alt="" class="img-circle img-responsive">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10" data-aos="zoom-in">
			<h4>Reach Us</h4>
			<p class="contact-agile">3rd Floor, TAEN Business Complex, Opposite former NITEL Office, Yakubu, Gowon Way,
				Jos, Nigeria</p>
		</div>
		<div class="col-lg-12" data-aos="zoom-in">
			<ul class="contact-info">
				<li>
					<i class="fa fa-phone-square" aria-hidden="true"></i>
					<p class="contact-p1"><a href="tel:+2348124693475">+234 (0)81 246 934 75</a></p>
					<p class="contact-p2"><a href="tel:+2348065284243">+234 (0)80 652 842 43</a></p>
				</li>
				<li>
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<p class="contact-p1"><a href="mailto:info@nhubnigeria.com">info@nhubnigeria.com</a></p>
					<p class="contact-p2"><a href="mailto:nhubacademy@zoho.com">nhubacademy@info.com</a></p>
				</li>
				<li>
					<i class="fa fa-address-book" aria-hidden="true"></i>
					<p class="contact-p1">Plateau, Nigeria</p>
					<p class="contact-p2">Abuja, Nigeria.</p>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<form action="/contact" method="post">
			<div class="col-lg-4 col-md-4 col-sm-4" data-aos="zoom-in">
				<div class="control-group form-group">
					<div class="controls">
						<label>Full Name:</label>
						<input type="text" name="fullName" class="form-control" id="name" required
							data-validation-required-message="Please enter your name.">
						<p class="help-block"></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4" data-aos="zoom-in">
				<div class="control-group form-group">
					<div class="controls">
						<label>Email Address:</label>
						<input type="email" name="email" class="form-control" id="email" required
							data-validation-required-message="Please enter your email address.">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4" data-aos="zoom-in">
				<div class="control-group form-group">
					<div class="controls">
						<label>Subject:</label>
						<input type="text" name="subject" class="form-control" id="subject" required
							data-validation-required-message="Please enter the subject">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-lg-12" data-aos="zoom-in">
				<div class="control-group form-group">
					<div class="controls">
						<label>Message:</label>
						<textarea rows="10" cols="100" name="text" class="form-control" id="message" required
							data-validation-required-message="Please enter your message" maxlength="999"
							style="resize:none"></textarea>
					</div>
				</div>
				<div id="success"></div>
				<!-- For success/fail messages -->
			</div>
			<div class="col-lg-12" data-aos="zoom-in">
				<button type="submit" class="btn btn-primary">Send Message</button>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</section>
<!-- /contact section -->

<!-- course section -->
<section class="service-w3l" id="course">
	<div class="container">
		<div class="col-lg-4 col-md-12 col-sm-12" data-aos="flip-up">
			<h3>Our Courses</h3>
			<p class="serv-p1">We provide best and fully tested products and solutions for our customers</p>
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12">
			<div class="col-xs-4 serv-agile4" data-aos="flip-up">
				<h4><abbr title="Internet Of Things"> I.O.T</abbr></h4>
				<p class="serv-p2"><span>N</span>120,000.00</p>
				<p class="serv-p2">3 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#iot">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile6" data-aos="flip-up">
				<h4><abbr title="Artificial Intelligence">A.I</abbr></h4>
				<p class="serv-p2"><span>N</span>180,000.00</p>
				<p class="serv-p2">5 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#ai">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile2" data-aos="flip-up">
				<h4><abbr title="Augmented Reality / Virtual Reality"> AR/VR </abbr></h4>
				<p class="serv-p2"><span>N</span>160,000.00</p>
				<p class="serv-p2">4 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#arvr">Course Preview</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-4 serv-agile1" data-aos="flip-up">
				<h4>Front-End Development</h4>
				<p class="serv-p2"><span>N</span>40,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#fed">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile5" data-aos="flip-up">
				<h4>Mobile-App Development</h4>
				<p class="serv-p2"><span>N</span>100,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#mad">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile3" data-aos="flip-up">
				<h4>Introduction to programming</h4>
				<p class="serv-p2"><span>N</span>40,000.00</p>
				<p class="serv-p2">1 Month</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#itp">Course Preview</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-4 serv-agile1" data-aos="flip-up">
				<h4>Django framework</h4>
				<p class="serv-p2"><span>N</span>60,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#df">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile2" data-aos="flip-up">
				<h4>Laravel Framework</h4>
				<p class="serv-p2"><span>N</span>60,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#lf">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile3" data-aos="flip-up">
				<h4>Mean-Stack</h4>
				<p class="serv-p2"><span>N</span>60,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#ms">Course Preview</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-4 serv-agile4" data-aos="flip-up">
				<h4>Cyber-Security</h4>
				<p class="serv-p2"><span>N</span>150,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#cs">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile2" data-aos="flip-up">
				<h4>Lamp-stack</h4>
				<p class="serv-p2"><span>N</span>60,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#ls">Course Preview</a></li>
				</ul>
			</div>
			<div class="col-xs-4 serv-agile6" data-aos="flip-up">
				<h4>Ethical-Hacking</h4>
				<p class="serv-p2"><span>N</span>200,000.00</p>
				<p class="serv-p2">2 Months</p>
				<ul class="about-links">
					<li><a href="#" class="about-link1" data-toggle="modal" data-target="#eh">Course Preview</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /course section -->

<!-- More on the courses-->
<div class="modal fade" id="iot" tabindex="-1" role="dialog" aria-labelledby="iot" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Internet Of Things</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/smart-city-iot-and-ai.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">The Internet of things is the extension of Internet connectivity into physical
						devices and everyday objects. Embedded with electronics, Internet connectivity, and other forms
						of
						hardware, these devices can communicate and interact with others over the Internet, and they can
						be
						remotely monitored and controlled.
					</p>
					<p>
						<input type="text" id="username" placeholder="username">
						<br>
						<ul class="enroll-links">
							<li><a href="/payment/iot" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="arvr" tabindex="-1" role="dialog" aria-labelledby="arvr" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">AR / VR</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/AR-vs-VR.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Augmented reality (AR) adds digital elements to a live view often by using the
						camera on a smartphone. Examples of augmented reality experiences include Snapchat lenses and
						the
						game Pokemon Go. Virtual reality (VR) implies a complete immersion experience that shuts out the
						physical world..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/arvr" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ai" tabindex="-1" role="dialog" aria-labelledby="ai" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Artificial Intelligence</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/artificial-intelligence.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Artificial intelligence (AI) is an area of computer science that emphasizes the
						creation of intelligent machines that work and react like humans. Some of the activities
						computers
						with artificial intelligence are designed for include: Speech recognition..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/ai" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="fed" tabindex="-1" role="dialog" aria-labelledby="fed" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Front-End Development</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/Front-End-Development-Frameworks.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Front-end web development is the practice of converting data to graphical
						interface
						for user to view and interact with data through digital interaction using HTML, CSS and
						JavaScript..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/frontenddevelopment" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="mad" tabindex="-1" role="dialog" aria-labelledby="mad" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Mobile-App Development</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/mobile-app-development.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Mobile app development is the act or process by which a mobile app is developed
						for
						mobile devices, such as personal digital assistants, enterprise digital assistants or mobile
						phones..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/mobiledev" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="itp" tabindex="-1" role="dialog" aria-labelledby="itp" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Introduction To programming</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/introduction-to-programming.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Introduction to Programming. A program is a set of instructions that tell the
						computer to do various things; sometimes the instruction it has to perform depends on what
						happened
						when it performed a previous instruction..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/intro" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="df" tabindex="-1" role="dialog" aria-labelledby="df" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Django Framework</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/django.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Django is a high-level Python Web framework that encourages rapid development
						and
						clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of
						Web
						development, so you can focus on writing your app without needing to reinvent the wheel. It’s
						free
						and open source..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/django" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="lf" tabindex="-1" role="dialog" aria-labelledby="lf" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Laravel Framework</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/Laravel-Framework.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Laravel is a free, open-source PHP web framework, created by Taylor Otwell and
						intended for the development of web applications following the model–view–controller
						architectural
						pattern and based on Symfony..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/laravel" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ms" tabindex="-1" role="dialog" aria-labelledby="ms" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Mean-Stack</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/mean.jpeg" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">MEAN is a free and open-source JavaScript software stack for building dynamic
						web sites and web applications. The MEAN stack is MongoDB,
						Express.js, AngularJS, and Node.js..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/meanstack" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cs" tabindex="-1" role="dialog" aria-labelledby="cs" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Cyber-Security</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/cyber-security-training-for-employees-810x424.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Computer security, cybersecurity or information technology security is the
						protection of computer systems from the theft of or damage to their hardware, software, or
						electronic data, as well as from the disruption or misdirection of the services they provide.
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/cyber" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ls" tabindex="-1" role="dialog" aria-labelledby="arvr" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Lamp-Stack</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/lamp_stack.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">A LAMP Stack is a set of open-source software that can be used to create
						websites
						and web applications. LAMP is an acronym, and these stacks typically consist of the Linux
						operating
						system, the Apache HTTP Server, the MySQL relational database management system, and the PHP
						programming language..
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/lampstack" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="eh" tabindex="-1" role="dialog" aria-labelledby="eh" aria-hidden="true">1
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Ethical-Hacking</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/ethicalhacking.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="news-info">Ethical hackers learn and perform hacking in a professional manner, based on
						the
						direction of the client, and later, present a maturity scorecard highlighting their overall risk
						and
						vulnerabilities and suggestions to improve.
						Hackers are of different types and are named based on their intent of the hacking system.
						Broadly,
						there are two main hackers – White-Hat hacker and Black-Hat hacker.
					</p>
					<p>
						<ul class="enroll-links">
							<li><a href="/payment/ethical" class="enroll-link">Enroll Now</a></li>
						</ul>
					</p>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- /More on the courses-->