<!-- footer section -->
<section class="footer-wthree">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in">
            <h3>Latest Tweets</h3>
            <span class="line1"></span>
            <ul class="tweet-agile">
                <li>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <p class="tweet-p1"><a href="mailto:support@company.com">@example</a> HackJos 2019 is going to be
                        great. <a href="#">http://ax.by/zzzz</a></p>
                    <p class="tweet-p2">Posted 3 days ago.</p>
                </li>
                <li>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <p class="tweet-p1"><a href="mailto:support@company.com">@example</a> How do i paticipate in the
                        HackJos 2019. <a href="#">http://cx.dy/zzzz</a></p>
                    <p class="tweet-p2">Posted 3 days ago.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in">
            <span class="line4"></span>
            <h3>Latest Pics</h3>
            <span class="line2"></span>
            <ul class="clearfix demo">
                <li><img src="/images/footer-pic1.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic2.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic3.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic4.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic5.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic6.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic7.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic8.jpg" alt="" class="img-responsive" /></li>
                <li><img src="/images/footer-pic9.jpg" alt="" class="img-responsive" /></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in">
            <span class="line5"></span>
            <h3>Latest News</h3>
            <span class="line3"></span>
            <ul class="footer-news">
                <li>
                    <div class="news-content">
                        <a href="#" class="news-header" data-toggle="modal" data-target="#news1">
                            <h4>Hack Jos</h4>
                        </a>
                        <p class="news-p1">Hackjos is nHub’s Flagship Challenge-Driven Conference and Hackathon that
                            brings
                            together leading industry players within and outside the country to share their candid and
                            powerful
                            experiences .</p>
                        <p class="news-p2">Posted On March 16, 2019</p>
                    </div>
                    <div class="news-pic">
                        <a href="#" data-toggle="modal" data-target="#news1"><img src="/images/news-pic1.jpg" alt=""
                                class="img-responsive"></a>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>


        <div class="clearfix"></div>
        <span class="line6"></span>
    </div>

    <p class="copyright">© 2019 nHub Academy. All Rights Reserved</p>
    <div class="modal fade" id="news1" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title w3-agile agileits-w3layouts w3layouts">Latest News</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="/images/news-img1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <p class="news-info">Hello world dolor sit amet, consectetur adipiscing elit. Morbi pharetra
                            laoreet aliquet. Sed tristique ex lectus, ut maximus ipsum tempus a. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Suspendisse porttitor eros quis leo bibendum, eu bibendum
                            ligula malesuada.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /footer section -->

<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 3000);
    });
</script>
<!-- js files -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/SmoothScroll.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/grayscale.js"></script>
<script src="/js/jqBootstrapValidation.js"></script>
{{!-- <script src="js/contact_me.js"></script> --}}
<script src="/js/top.js"></script>
<!-- js for banner section -->
<script src="/js/bgfader.js"></script>
<script>
    var myBgFader = $('.header').bgfader([
        'images/banner1.jpg',
        'images/banner2.jpg',
        'images/banner3.jpg',
        'images/banner4.jpg',
    ], {
            'timeout': 3000,
            'speed': 3000,
            'opacity': 0.4
        })
    myBgFader.start()
</script>

<!-- /js for banner section -->
<!-- js for parallax effect -->
<script src="/js/jarallax.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- /js for parallax effect -->
<!-- js for footer pic lightbox -->
<script src="/js/jquery.picEyes.js"></script>
<script>
    $(function () {
        //picturesEyes($('li'));
        $('ul.demo li').picEyes();
    });
</script>
<!-- /js for footer pic lightbox -->
<!-- js for portfolio lightbox -->
<script src="/js/jQuery.lightninBox.js"></script>
<script type="text/javascript">
    $(".lightninBox").lightninBox();
</script>
<!-- /js for portfolio lightbox -->
<script src='/js/aos.js'></script>
<script src="/js/index.js"></script>
<!-- /js files -->

</body>

</html>