<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>nHub Academy an Education Category | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="nHub Academy " />
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <!-- /fonts -->
    <!-- css files -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/footer-pic.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/staff.css" rel="stylesheet" type="text/css" media="all" />
    <link href='/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>

<body>
    <!-- navigation -->
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/./images/nhublogo.png"></a>
                    <h1 class="img-head"> Academy</h1>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav cl-effect-18">
                        <li class="active"><a href="/" class="page-scroll" data-hover="Home">Home</a></li>
                        <li><a href="#about" class="page-scroll" data-hover="About">About</a></li>
                        {{!-- <li><a href="#service" class="page-scroll" data-hover="Services">Services</a></li> --}}
                        <li><a href="#course" class="page-scroll" data-hover="Courses">Courses</a></li>
                        <li><a href="#team" class="page-scroll" data-hover="Team">Team</a></li>
                        {{!-- <li><a href="#portfolio" class="page-scroll" data-hover="Portfolio">Portfolio</a></li> --}}
                        <li><a href="#contact" class="page-scroll" data-hover="Contact">Contact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Login</a>
                            <div class="dropdown-menu dropping" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="/student/login">Student</a>
                                <a class="dropdown-item" href="/intern/login">Intern</a>
                                <a class="dropdown-item" href="/admin/login">Admin</a>
                            </div>
                        </li>
                        {{!-- <li><a href="/user" class="page-scroll" data-hover="Contact">Login</a></li> --}}
                    </ul>
                </div>
                <!-- <div class="search-w3ls">
				<form action="#" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="search" id="search2" placeholder="Search" required/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" ><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div> -->
            </nav>
        </div>
    </div>
    <!-- /navigation -->